# Weather
OPENWEATHER_API_KEY=your_openweather_key_here
OPENWEATHER_BASE_URL=https://api.openweathermap.org/data/2.5

# AQI
WAQI_API_KEY=your_waqi_key_here
WAQI_BASE_URL=https://api.waqi.info

# Traffic (TomTom free tier)
TOMTOM_API_KEY=your_tomtom_key_here
TOMTOM_BASE_URL=https://api.tomtom.com/traffic/services/4

# App
SECRET_KEY=supersecretkey
ENVIRONMENT=development
